---
import { SummaryForm } from "../components/SummaryForm";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Astro Summarizer">
  <main>
    <SummaryForm client:load />
  </main>
</Layout>
