---
import Layout from "../layouts/Layout.astro";
import { getRecentLocal } from "../service/SaveService";
import { Notice } from "../components/Notice";
const saved = await getRecentLocal();
---

<Layout title="Astro Summarizer">
  <main>
    <section>
      <div class="hero"></div>
      <div class="data">
        <h1>Astro Summarizer</h1>
        <h2>
          a simple summarizer platform using Hugging Face
          Transformers and Astro with Solid JS.
        </h2>
        <a class="btn" href="/astro-summarizer/summary">Summarize Now!</a>
      </div>
    </section>
    {!saved?.summary || <Notice header="Recently Summarized" summary={saved.summary} client:load />}
  </main>
</Layout>

<style>
  section {
    width: 1000px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 80px;
  }

  .hero {
    background: url("/astro-summarizer/hero.jpeg") center center;
    background-size: cover;
    flex: 1;
    height: 450px;
    border-radius: 40px;
  }

  .data {
    flex: 1;
  }

  h1 {
    font-size: 72px;
    font-family: "IBM Plex";
    margin: 0 0 20px;
  }

  h2 {
    font-family: "Poppins";
    font-size: 22px;
    font-weight: 300;
    margin: 0 0 40px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
  }
</style>
